<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>chitchat</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font/iconfont.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div class="container clearfix" id="app">
		<!-- 菜单栏 --> 
		<div class="system">
			<div class="user">
				<img src="img/userAvatar.jpg">
				<span class="userStatus"></span>
			</div>
			<div class="menu">
				<ul class="menuList">
					<li class="active">
						<span class="read" v-if="menu.newMsg"></span>
						<i class="icon iconfont iconSize activeIcon">&#xe605;</i>
					</li>
					<li class="">
						<span class="read" v-if="menu.newFriend"></span>
						<i class="icon iconfont iconSize">&#xe60f;</i>
					</li>
					<li class="">
						<span class="read" v-if="menu.newGroup"></span>
						<i class="icon iconfont iconSize">&#xe640;</i>
					</li>
					<li class="">
						<span class="read" v-if="menu.newSystem"></span>
						<i class="icon iconfont iconSize">&#xe645;</i>
					</li>
				</ul>
			</div>
			<div class="signOutMenu">
				<i class="icon iconfont iconSize">&#xe608;</i>
			</div> 
		</div>
		<!-- 列表栏 -->
		<div class="chatList">
			<div class="search">
				<input type="text" id="sinput" placeholder="Search...">
			</div>
			<div class="recoedList scroll">
				<ul class="scroll">
					<li class="clearfix" v-for="chatItem in chatList" @click="selectFriendHandle">
						<div class="avatar">
							<img :src="chatItem.avatar">
						</div>
						<div class="chatListTitle">
							<div class="name clearfix">
								<span class="nickname">{{ chatItem.nickname }}</span>
								<span class="angle" v-if="chatItem.total > 0">{{ chatItem.total }}</span>
								<span class="time">{{ chatItem.time }}</span>
							</div>
							<div class="prompt">{{ chatItem.msg }}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- 聊天界面 -->
		<div class="view">
			<div class="viewTop">
				<div class="viewTitle">
					Kevin Wang
				</div>
			</div>
			<div class="viewContent scroll" id="viweChatWindow">
				<ul>
					<li class="clearfix" v-for="msgItem in chatMsgList">
						<div class="viewAvatar" v-bind:class="[(msgItem.uid == 1)? 'floatLeft' :  'floatRgit' ]">
							<img :src="msgItem.avatar">
						</div>
						<div class="message" v-bind:class="[(msgItem.uid == 1)? 'floatLeft bf' :  'floatRgit bb' ]"> {{ msgItem.msg }} </div>
					</li>
				</ul>
			</div>
			<div class="send">
				<div class="sendMenu"></div>
				<textarea v-model="sendWriteData" id="sendInput" class="scroll"  @keyup.enter="sendDataHandle"></textarea>
				<button class="sendBtn" @click="sendDataHandle">Send</button>
			</div>
		</div>
	</div>



	<script>
		var app = new Vue({
			el: '#app',
			data: {
				socket: '',
				sendWriteData: null,
				menu: {
					newMsg: false,
					newFriend: false,
					newSystem: false,
					newGroup: false,
				},
				chatList: [
					{avatar:'img/userAvatar.jpg', nickname: 'Kevin Wang', time: '21:31', msg: 'server is on the way...', total:1},
					{avatar:'img/userAvatar.jpg', nickname: 'Kevin Wang', time: '21:31', msg: 'server is on the way...',total:0},
					{avatar:'img/userAvatar.jpg', nickname: 'Kevin Wang', time: '21:31', msg: 'server is on the way...',total:1},
					{avatar:'img/userAvatar.jpg', nickname: 'Kevin Wang', time: '21:31', msg: 'server is on the way...',total:2},
				],
				chatMsgList: [
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 1},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 1},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 2},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 1},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 2},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 1},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 2},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 2},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 2},
					{avatar: 'img/userAvatar.jpg', msg: 'server is on the way...server is on the way...', uid: 2},
				],
			},
			mounted() {
				this.scrollToBottom();
				this.socket = new WebSocket('ws://192.168.79.147:8812');
				this.socket.onmessage = this.acceptServerData;
			},
			watch: {
				chatMsgList: 'scrollToBottom',
			},
			methods: {
				// 选择好友聊天
				selectFriendHandle: function(event) {

				},
				// 发送好友聊天
				sendDataHandle: function(event) {
					let message = this.sendWriteData.replace(/^\s+|\s+$/g,"");
					if(message == null || message == '') {
						this.sendWriteData = null;
						alert("写点什么吧...");
						return false;
					}
					
					this.chatMsgList.push({avatar: 'img/userAvatar.jpg', msg: message, uid: 2});
					this.socket.send(message);
					this.sendWriteData = null;

				},
				scrollToBottom: function() {
					this.$nextTick(() => {
						var scr =  document.getElementById('viweChatWindow');
						scr.scrollTop = scr.scrollHeight;
					})
				},
				acceptServerData(res) {
					this.chatMsgList.push({avatar: 'img/userAvatar.jpg', msg: res.data, uid: 1});
				}
			}
		})
	</script>
</body>
</html>